body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-image: url(./assets/img/luméthystère-fond.webp);
    background-size: cover;


}

a {
    color: #000;
    text-decoration: none;
}

/* header */

.header {
    background-color: rgb(251, 255, 5);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: rgb(251, 255, 5);
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #ff6702;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #e5ff00;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    /*augmenter la taille si on met plus de rubriques.*/
    max-height: 500px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {

    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

/* header image*/
@media (max-width: 768em) {}

.header_01 {
    background-image: url(./assets/img/luméthystère-header.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: black;
    height: 35rem;
    font-family: Arial, Helvetica, sans-serif;

}

.header_02 {
    background-image: url(./assets/img/luméthystère-header-info.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: black;
    height: 35rem;
    font-family: Arial, Helvetica, sans-serif;

}

.header_03 {
    background-image: url(./assets/img/luméthystère-header-shaman.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: black;
    height: 35rem;
    font-family: Arial, Helvetica, sans-serif;

}

.header_04 {
    background-image: url(./assets/img/luméthystère-header-mythe.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: black;
    height: 35rem;
    font-family: Arial, Helvetica, sans-serif;

}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ff6702;
    text-decoration: none;
}

.container {
    width: 50%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

.main-content {
    padding: 20px 0;
}

footer {
    background-color: #e5ff00;
    color: #000000;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}

.titre_H1 {
    color: #000000;
    text-decoration: none;
    font-size: 30px;
}